.scanner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.scanner-container video {
    width: 90vw;
    height: 30dvh;
    object-fit: cover;
  }

  .nutrient-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }

  .nutrient-table th,
  .nutrient-table td {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
  }

  .nutrient-table th {
    font-size: 0.85rem;
    color: #555;
  }

  .nutrient-table td {
    font-size: 0.95rem;
  }

  .meal-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .meal-name {
    font-size: 0.95rem;
    margin-bottom: 0.2rem;
  }

  .meal-values {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8rem; /* ya estaba compacta */
    color: #555;
  }

  .meal-values td {
    width: 25%;          /* 4 columnas iguales */
    min-width: 35px;     /* opcional: no se compriman demasiado */
    text-align: center;
    padding: 0 0.2rem;
  }

  .meal-values td strong {
    display: inline-block;   /* evita que números cortos se muevan */
    width: 100%;             /* ocupa todo el ancho de la celda */
  }

    .modal-body p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: #333;
  }


  .modal-header h5.modal-title {
    font-weight: 600;
    font-size: 1rem;
  }

  .modal-footer button {
    min-width: 80px;
  }

  /* Opcional: resaltar los valores nutricionales en fila */
  .nutrient-values {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    color: #555;
  }

  .nutrient-values span {
    flex: 1;
    text-align: center;
  }

.search-container {
    position: relative;
}

.search-input {
    height: 1.8em;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.modal-content {
    border-radius: 3px;
}

.modal-footer {
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
}

.modal-header {
    margin: 0;
    padding-bottom: 0;
    padding-top: 0.5em;
    border: none;
}

.overlay {
    position: fixed;
    inset: 0; /* top, right, bottom, left = 0 */
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}


.accordion-button:focus {
    box-shadow: none !important;
}

.btn {
    border-radius: 0.2em;
    padding: 0.3em;
}